<!-- About banner -->
<section id="about" class="about-banner banner">
  <h1>About Me</h1>

  <p>
  Starting mid-September I'll be a part of the <a href="https://products.office.com/en-us/microsoft-teams/group-chat-software">Teams</a> group at <a href="https://www.microsoft.com/">Microsoft</a>, in Seattle! Previously, I interned at <a href="https://www.braintreepayments.com/">Braintree</a> in San Francisco and <a href="https://here.com/en">HERE Maps</a> in Chicago.
  </p>

  <p>
  I studied Computer Science at Northwestern University's McCormick School of Engineering, where I recently completed my Bachelor's and Master's degrees. While there I served as a TA for several introductory and advanced CS courses, and was an undergrad researcher in the <a href="http://delta.northwestern.edu/">Delta Lab</a>'s <a href="http://dtr.northwestern.edu/">Design, Technology, and Research</a> program, where I studied reminder systems and habit-formation. I was also the design supervisor for <a href="vertigoplays.org">Vertigo Productions</a>, a student theater production company dedicated to producing student-written work.
  </p>

  <p>
  Outside of CS, I love soccer, dairy-based desserts, commas, and speaking French.
  </p>

  <h2 id="contact">Contact</h2>
  <p>
  If you'd like to get in touch, feel free to use the links below, email me at &lt;this-domain&gt; at gmail, or grab my resume <a href="../assets/files/resume.pdf" target="_blank">here</a>.
  </p>
</section>
