<!-- About banner -->
<section id="about" class="about-banner banner">
	<h1>About Me<h1>

	<h2 id="school">School</h2>
	<p>I study Computer Science at Northwestern University's McCormick School of Engineering, where I'll be completing my Master's next year. Outside of my courses, I've worked for several quarters as an undergraduate TA for several introductory CS courses, in C++, Python, and <a href="https://racket-lang.org/">Racket</a>. I'm also spearheading a research project through the <a href="http://dtr.northwestern.edu">Design, Technology, and Research</a> program in the HCI-focused Delta Lab, advised by Prof. Haoqi Zhang; my research focuses on understanding how reminder systems can support long-term behavior change, such as habit building, using smart context-sensing and microreminding techniques.</p>

	<h2 id="cs_not_school">CS, but not school</h2>
	<p>Outside of academics, this summer I'm interning for <a href="https://www.braintreepayments.com/">Braintree</a> in San Francisco in software engineering, working on code-generation tools for REST SDKs as part of the Developer Experience team! Last summer I worked for <a href="https://here.com/en">HERE Maps</a>, where I designed and built a framework allowing our teams to build custom references between map features that sped up my team's processing pipeline by ~50x. I'm also involved with <a href="http://rheaply.com/">Rheaply</a>, a Chicago-local startup building a platform for the intra-organization exchange of research materials, reducing waste and encouraging collaboration.</p>

	<h2 id="not_cs">Not CS</h2>
	<p>Beyond CS, I serve as the design supervisor for <a href="vertigoplays.org">Vertigo Productions</a>, a student theater production company dedicated to producing student-written work. I love crème brulée, Calvin and Hobbes, and the color burgundy, and I speak French!</p>

	<h2 id="contact">Contact me</h2>
	<p>Hit me up at any of the links at the bottom, or grab my resume <a href="../assets/files/resume.pdf" target="_blank">here</a>.</p>
</section>
