<!-- About banner -->
<section id="about" class="about-banner banner">
	<h1>About Me<h1>

	<h2 id="school">School</h2>
  <p>I study Computer Science at Northwestern University's McCormick School of Engineering, where I'll be completing my Master's in spring. Outside of my courses, I've worked for several quarters as an undergraduate TA for several introductory and advanced CS courses, in C++, Python, and <a href="https://racket-lang.org/">Racket</a>. I was also an undergrad researcher in the <a href="http://delta.northwestern.edu/">Delta Lab</a>'s <a href="http://dtr.northwestern.edu/">Design, Technology, and Research</a> program, where I studied reminder systems and habit-formation.</p>

	<h2 id="cs_not_school">CS, but not school</h2>
  <p>Starting this summer I'll be joining the <a href="https://products.office.com/en-us/microsoft-teams/group-chat-software">Microsoft Teams</a> team in Seattle! This past summer I interned for <a href="https://www.braintreepayments.com/">Braintree</a> in San Francisco on the Developer Experience team, and the summer before I interned for <a href="https://here.com/en">HERE Maps</a> in Chicago in the Core Map group.</p>

	<h2 id="not_cs">Not CS</h2>
	<p>Beyond CS, I serve as the design supervisor for <a href="vertigoplays.org">Vertigo Productions</a>, a student theater production company dedicated to producing student-written work. I love crème brulée, Calvin and Hobbes, and the color burgundy, and I speak French!</p>

	<h2 id="contact">Contact me</h2>
	<p>Hit me up at any of the links at the bottom, or grab my resume <a href="../assets/files/resume.pdf" target="_blank">here</a>.</p>
</section>
