<!-- Footer -->
<section class="footer">
	<ul class="icons">
		<li><a href="mailto:sasha at sashaweiss dot coffee" class="fa fa-envelope"></a></li>
		<li>
			<a href="https://www.linkedin.com/in/sashaweiss" class="fa fa-linkedin"></a>
		</li>
		<li>
			<a href="https://github.com/sashaweiss" class="fa fa-github"></a>
		</li>
	</ul>
	<ul class="acknowledgements">
		<li>Built by <a title="This link designed by @soylentqueen" href="https://output.jsbin.com/meyulug" target="_blank">Sasha Weiss</a></li>
		<li>Last updated Jan 2018</li>
	</ul>
</section>

