<!-- Intro banner -->
<section id="intro" class="banner intro-banner">
	<div class="intro-banner-left flex-eq-width">
		<h1>I have the same initials as Star Wars</h1>
		<p>How cool is that?</p>
	</div>
	<div class="intro-banner-right flex-eq-width">
		<p>I study Computer Science at Northwestern University, where I'm in my last year, finishing my MS. After graduation I'll be moving to Seattle, to work full-time for Microsoft as a software engineer!</p>
    <p>Outside of classes, I'm a TA for several introductory and advanced CS courses and serve as the Technical Director for <a href="http://vertigoplays.org">Vertigo Productions</a>.</p>
	</div>
</section>

