<!-- Intro banner -->
<section id="intro" class="banner intro-banner">
	<div class="intro-banner-left flex-eq-width">
		<h1>Hey! I'm Sasha Weiss.</h1>
		<p>(Sasha's short for Alexander in Russian)</p>
	</div>
	<div class="intro-banner-right flex-eq-width">
    <p>
    I'm a software engineer at Microsoft, having recently finished my BS and MS degrees in computer science at Northwestern University. I grew up a 10 minute bike ride from Chicago, and am currently based in Seattle.
    </p>
	</div>
</section>

