/* Globals */
html {
	font-family: Raleway, Monospace;
}

body {
	height: 100vh;
}

/* Background picture */
.background {
	background-attachment: fixed;
	background-image: url("../images/overlay.png");
	opacity: 0.5;
}

.home {
	height: inherit;
	background-image: url("../images/the_bay.jpg");
	background-position: center bottom;
	background-size: cover;
}

/* Header */
.header {
	display: flex;
	justify-content: space-between;
	text-transform: lowercase;
	padding: 1rem;
}

.header a {
  transition: color 0.2s ease-in-out;
  color: #444;
  text-decoration: none;
}

.header a:hover {
  color: #111;
}

.header li a {
	font-weight: bold;
  font-size: 1.25rem;
}

.header ul {
	align-items: center;
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.header ul li {
	padding: 1rem;
}

@media (max-width: 480px) {
	.header {
		flex-direction: column;
		text-align: center;
		align-items: center;
		background-color: teal;
	}
}
