/* Globals */
html {
	font-family: "Raleway", Monospace;
}

body {
	height: 100vh;
}

/* Background picture */
.background {
	height: inherit;
	background-attachment: fixed;
	background-position: center bottom;
	background-size: cover;
	z-index: 10;
}

.home-background {
	background-image: linear-gradient(to bottom,
		/* The last number here is the opacity of the overlay */
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0)
	), url("../images/the_bay.jpg");
}

.about-background {
	background-image: linear-gradient(to bottom,
		/* The last number here is the opacity of the overlay */
		rgba(0, 0, 0, 0.2),
		rgba(0, 0, 0, 0.2)
	), url("../images/chicago_skyscrapers.jpg");
	background-position: center top;
}

/* Header */
.header {
	display: flex;
	justify-content: space-between;
	text-transform: lowercase;
	padding: 1rem;
	padding-top: 3rem;
}

.header h1 {
	padding-left: 3rem;
	margin: 0;
}

.header a {
  transition: color 0.2s ease-in-out;
  color: #444;
  text-decoration: none;
}

.header a:hover {
  color: #111;
}

.header li a {
	font-weight: bold;
  font-size: 1.25rem;
	padding: 1rem;
}

.header ul {
	align-items: center;
	display: flex;
	margin: 0;
	padding: 0;
	padding-right: 3rem;
	list-style-type: none;
}

@media (max-width: 650px) {
	.header {
		flex-direction: column;
		align-items: center;
	}

	.header ul {
		padding: 0.5rem;
	}

	.header h1 {
		padding: 0.5rem;
	}
}

/* Home cover */
.home-cover {
	height: 100vh;
}

.home-cover-text {
	padding: 6rem 4rem;
	text-transform: lowercase;
	text-align: center;
	color: #ed61ff;
	font-weight: 700;
	font-size: 1.75em;
	line-height: 1.35;
}

/* Intro banner */
.intro-banner {
	display: flex;
	justify-content: space-between;
	text-transform: lowercase;
	background-color: white;
	padding: 3rem 4rem;
}

.flex-eq-width {
	flex: 1 1 0;
}

@media (max-width: 670px) {
	.intro-banner {
		flex-direction: column;
	}

	.flex-eq-width {
		flex: 0 1 auto;
	}
}

.intro-banner h1 {
	margin: 0;
	padding: 1rem;
	padding-bottom: 0rem;
}

.intro-banner p {
	margin: 0;
	padding: 1rem;
}

.intro-banner-left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 1.25em;
}

.intro-banner-left p {
	font-size: 1.25em;
}

.intro-banner-right {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

/* Footer */
.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 4rem 0;
}

.footer ul {
	padding: 1.5rem 0;
}

.icons {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.icons li {
	padding: 0 2rem;
}

.icons li :hover {
	color: orange;
	transition: color 0.25s ease-in-out;
}

.icons li a {
	font-size: 3em;
	text-decoration: none;
	color: white;
}

.acknowledgements {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.acknowledgements li {
	padding: 0 2rem;
	color: white;
}

/* About */
.about {
	display: flex;
	flex-direction: column;
}

.about h1,
.about h3,
.about p {
	margin: 0;
	padding: 1rem 4rem;
}

.about p {
	color: white;
	line-height: 1.75;
}

.about p a {
	color: white;
	font-weight: bold;
}

.about h1,
.about h3 {
	text-transform: lowercase;
	color: #222;
}
