/* Globals */
html {
	font-family: "Raleway", Monospace;
}

body {
	height: 100vh;
}

/* Background picture */
.background {
	height: inherit;
	background-attachment: fixed;
	background-position: center bottom;
	background-size: cover;
	z-index: 10;
}

.home-background {
	background-image: linear-gradient(to bottom,
		/* The last number here is the opacity of the overlay */
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0)
	), url("../images/the_bay.jpg");
}

/* Header */
.header {
	display: flex;
	justify-content: space-between;
	text-transform: lowercase;
	padding: 1rem;
}

.header a {
  transition: color 0.2s ease-in-out;
  color: #444;
  text-decoration: none;
	padding: 1rem;
}

.header a:hover {
  color: #111;
}

.header li a {
	font-weight: bold;
  font-size: 1.25rem;
}

.header ul {
	align-items: center;
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

@media (max-width: 620px) {
	.header {
		flex-direction: column;
		text-align: center;
		align-items: center;
	}
}

/* Home cover text */
.home-cover {
	padding: 6rem 4rem;
	text-transform: lowercase;
	text-align: center;
	color: #00ccff;
	font-weight: 900;
	font-size: 1.75em;
	line-height: 1.35;
}
