<!-- Footer -->
<section class="footer">
	<ul class="icons">
		<li><a href="mailto:sasha at sashaweiss dot coffee" class="fa fa-envelope"></a></li>
		<li>
			<a href="https://www.linkedin.com/in/sashaweiss" class="fa fa-linkedin"></a>
		</li>
		<li>
			<a href="https://github.com/sashaweiss" class="fa fa-github"></a>
		</li>
	</ul>
	<ul class="acknowledgements">
		<li>Built by Sasha Weiss</li>
		<li>Last updated June 2017</li>
		<li>Images taken by friends, or via Unsplash</li>
	</ul>
</section>

