html {
    font-family: "Merriweather", sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: lightblue;
    padding: 0 36px;
}

#name,
#headline,
#pronouns {
    color: #222;
    text-align: center;
    margin: 0;
}

#name {
    font-size: 2.5rem;
    padding-bottom: 30px;
    padding-top: 48px;
}

#headline {
    font-family: "Roboto Mono", monospace;
    font-size: 1.5rem;
    padding-bottom: 20px;
}

#pronouns {
    text-transform: lowercase;
    font-family: "Roboto Mono", monospace;
    font-size: 1rem;
    padding-bottom: 30px;
}

#links {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#links {
    padding-bottom: 36px;
}

#links li {
    padding: 0 1.5rem;
}

#links li a {
    color: #555;
    font-size: 2rem;
    text-decoration: none;
}

#links li a :hover {
    color: orange;
    transition: color 0.15s ease-out;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 84px;
}

@media (max-width: 600px) {
    main {
        padding: 0 48px;
    }
}

section,
footer {
    width: 100%;
    max-width: 800px;
}

.intro-banner p {
    line-height: 1.75;
    margin: 0;
}

.about-banner {
    flex-direction: column;
}

.about-banner p {
    text-transform: none;
    line-height: 1.75;
}

.about-banner p a {
    color: inherit;
    font-weight: bold;
}

footer {
    padding: 4rem 0;
}

#acknowledgements {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#acknowledgements li {
    color: #666;
    text-align: center;
}

#ack-who {
    padding-right: 24px;
}

#ack-when {
    padding-left: 24px;
}
