html {
    font-family: "Merriweather", sans-serif;
}

body {
    margin: 0;
}

#header {
    background-color: lightblue;
    padding: 0 36px;
}

#name,
#headline,
#pronouns {
    text-align: center;
    margin: 0;
}

#name {
    font-size: 2.5rem;
    padding-bottom: 30px;
    padding-top: 48px;
}

#headline {
    font-family: "Roboto Mono", monospace;
    font-size: 1.5rem;
    padding-bottom: 20px;
}

#pronouns {
    text-transform: lowercase;
    font-family: "Roboto Mono", monospace;
    font-size: 1rem;
    padding-bottom: 30px;
}

#links {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#links {
    padding-bottom: 36px;
}

#links li {
    padding: 0 1.5rem;
}

#links li :hover {
    color: orange;
    transition: color 0.25s ease-in-out;
}

#links li a {
    font-size: 2rem;
    text-decoration: none;
    color: #666;
}

/**************************/

section {
    padding-left: 80px;
    padding-right: 80px;
}

@media (max-width: 600px) {
    section {
        padding-left: 0;
        padding-right: 0;
    }
}

.intro-banner p {
    line-height: 1.75;
    margin: 0;
}

.about-banner {
    flex-direction: column;
}

.about-banner h1 {
    margin: 0;
    padding-bottom: 1.5rem;
}

.about-banner h2 {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

.about-banner p {
    text-transform: none;
    line-height: 1.75;
}

.about-banner p a {
    color: inherit;
    font-weight: bold;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 0;
}

.footer ul {
    padding: 1.5rem 0;
}

.icons {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.icons li {
    padding: 0 2rem;
}

.icons li :hover {
    color: orange;
    transition: color 0.25s ease-in-out;
}

.icons li a {
    font-size: 3em;
    text-decoration: none;
    color: #666;
}

.acknowledgements {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.acknowledgements li {
    padding: 0 2rem;
    color: #666;
    text-align: center;
}

.acknowledgements li a {
    color: inherit;
    text-decoration: none;
}
