<!DOCTYPE html>
<html>
	<head>
		{{> head}}
	</head>

	<body>
		{{> header}}

		<section class="about">
			<h1>About Me</h1>
			<h3>Long term goal: get to outer space</h3>
			<p>Paragraph about school and classes and DTR</p>
			<p>Paragraph about working at BT and HERE and Rheaply stuff</p>
			<p>Paragraph about Vertigo and fun facts and stuff</p>
		</section>

		{{> footer}}
	</body>
</html>
