<!DOCTYPE html>
<html>
	<head>
		{{> head}}
	</head>

	<body class="background home-background">
		{{> header}}

		<div class="cover"></div>

		<div id="intro" class="cover">
			{{> intro_banner }}
		</div>

		{{> footer}}
	</body>
</html>
