<!DOCTYPE html>
<html>
	<head>
		{{> head}}
	</head>

	<body class="background home-background">

		{{> header_cover }}

		{{> intro_cover }}

		{{> about_banner }}

		{{> footer}}

		<script src="@JQUERY_DOT_JS"></script>
		<script src="@RESIZE_DOT_JS"></script>
	</body>
</html>
