<!-- About banner -->
<section id="about" class="about-banner banner">
  <h1>About Me</h1>

  <p>
    I work in the <a href="https://www.xbox.com">Xbox</a> org at Microsoft, where I own the mobile side of the Xbox Authentication Library: a cross-compiled C++ SDK enabling games and apps to authenticate with <a href="https://www.xbox.com/live">Xbox Live</a>. Previously, I worked on the iOS client for <a href="https://products.office.com/en-us/microsoft-teams">Microsoft Teams</a>, focused on <a href="https://www.microsoft.com/en-us/microsoft-365/microsoft-teams/teams-for-home">Teams for Life</a>. I also interned at <a href="https://www.braintreepayments.com">Braintree</a> in San Francisco.
  </p>

  <p>
  I studied Computer Science at Northwestern University's McCormick School of Engineering, where I completed my Bachelor's and Master's degrees. While there I served as a TA for several CS courses, worked in the <a href="http://delta.northwestern.edu/">Delta Lab</a>'s <a href="http://dtr.northwestern.edu/">Design, Technology, and Research</a> program, and was the design supervisor for a student theater board.
  </p>

  <p>
    I love <a href="https://www.rust-lang.org/">strongly-typed programming languages</a>, tiramisu, speaking French, and Star Wars.
  </p>

  <h2 id="contact">Contact</h2>
  <p>
  If you'd like to get in touch or learn more about my work, feel free to email me at &lt;this-domain&gt; at gmail or use the links below!
  </p>
</section>
