<!-- About banner -->
<section id="about" class="about-banner banner">
  <h1>About Me</h1>

  <p>
    I'm a part of the <a href="https://products.office.com/en-us/microsoft-teams">Teams</a> org here at Microsoft, primarily working on the iOS client. Previously, I interned at <a href="https://www.braintreepayments.com/">Braintree</a> in San Francisco and <a href="https://here.com/en">HERE Maps</a> in Chicago.
  </p>

  <p>
  I studied Computer Science at Northwestern University's McCormick School of Engineering, where I completed my Bachelor's and Master's degrees. While there I served as a TA for several introductory and advanced CS courses, and led a research project in the <a href="http://delta.northwestern.edu/">Delta Lab</a>'s <a href="http://dtr.northwestern.edu/">Design, Technology, and Research</a> program focused on reminder systems and habit-formation. I was also the design supervisor for <a href="vertigoplays.org">Vertigo Productions</a>, a student theater production company dedicated to producing student-written work.
  </p>

  <p>
    I love <a href="https://www.rust-lang.org/">strongly-typed programming languages</a>, tiramisu, speaking French, and Star Wars.
  </p>

  <h2 id="contact">Contact</h2>
  <p>
  If you'd like to get in touch or learn more about my work, feel free to email me at &lt;this-domain&gt; at gmail or use the links below!
  </p>
</section>
