<!-- Footer -->
<section class="footer">
	<ul class="icons">
		<li>
			<a target="_blank" href="../src/files/resume.pdf" class="fas fa-file-alt"></a>
		</li>
		<li>
			<a target="_blank" href="https://www.linkedin.com/in/sashaweiss" class="fab fa-linkedin"></a>
		</li>
		<li>
			<a target="_blank" href="https://github.com/sashaweiss" class="fab fa-github"></a>
		</li>
	</ul>
	<ul class="acknowledgements">
		<li>Built by <a title="This link designed by @soylentqueen" href="https://output.jsbin.com/meyulug" target="_blank">Sasha Weiss</a></li>
		<li>Last updated Jun 2019</li>
	</ul>
</section>

