<!-- Head setup -->
<meta charset="utf-8">
<title>Sasha Weiss</title>
<link rel="stylesheet" href="@NORMALIZE_DOT_CSS">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
<link rel="stylesheet" href="@MAIN_DOT_CSS">
<link rel="stylesheet" href="@FONTAWESOME_DOT_CSS">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="@FAVICON_DOT_ICO">

