<!-- Head setup -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Sasha Weiss</title>
<link rel="stylesheet" href="@NORMALIZE_DOT_CSS">
<link rel="stylesheet" href="@MAIN_DOT_CSS">
<link rel="icon" href="@FAVICON_DOT_ICO">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
<script src="https://kit.fontawesome.com/e4e87b0fb3.js"></script>
